Total of parks found: <%= @parks.count %><br><br>

<% @parks.each do |park| %>
<h1><%= park.full_name %></h1><br>
<b>Description </b><%= park.description %><br>
<b>Directions </b><%= park.directions_info %><br><br>
<b>Hrs </b>

<%park.operating_hours.map do |h|%>
  <% h[:standardHours].map do |k, v| %>
  <%= "#{k}, #{v}"%><br>
  <%end %>
  <%end %>

<br><br>
<% end %>
